@import 'Variables';

@mixin button($border, $border_radius, $background_color, $width) {
    width: $width;
    border: $border;
    border-radius: $border_radius;
    background-color: $background_color;
    text-decoration: none;
    text-align: center;
    color: $white_font;
    padding: 10px; 
}

.container{
    margin: 0 250px;
}

.link{
   
    color: $white_font;
    font-size:$navbar_font_size;
    text-decoration: none;
    margin-right: 20px;
    &:first-child{
        color: $indigo_color;
    }
    }