$body_color: #19191b;
$white_font: white;
$navbar_font_size: 20px;
$indigo_color: #5454d4;
$red_color: #f04037;
$yellow_color: #fedc5a;

$sm_breakpoint: 650px;
$md_breakpoint: 992px;
$margin_top: 100px;

$indigo_icon_bg: rgba(84, 84, 212, 0.1);
$red_icon_bg: rgba(240, 64, 55, 0.1);
$yellow_color_bg: rgba(254, 220, 90, 0.1);
