@import 'Variables';
@import 'common';

.hero-section{
    @extend .container;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 3fr 5fr;
    justify-items: center;
    align-items: center;
    .hero-title{
        div{
            @include title(bold, 53.0952px, 56px);
        }
        p{
            @extend .details;
        }
        .button{
            @include button(0,  2.65476px, $indigo_color, 135.39px);
            .arrow{
            transform: rotate(-35deg);
            }
        } 
    }
    @include sm{
        display: flex;
        flex-direction: column;
    }
}