@import "Variables";
@import "common";

.portfolio-section {
  @extend .container;
  margin-top: $margin-top;
  position: relative;
  div {
    @include title(800, 38.494px, 53px);
  }
  .portfolio {
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
    img {
      width: 25%;
      padding: 20px;
      border-radius: 20px;
      background-color: #1e1e20;
      margin-right: 16px;
      &:nth-child(2) {
        margin-top: 40px;
      }
      &:last-child {
        margin-top: 80px;
      }
    }
    @include sm {
      flex-direction: column;
      justify-content: center;
      img {
        margin: 0 auto;
        &:nth-child(2),
        &:last-child {
          margin-top: 20px;
        }
      }
    }
  }
}
