@import "Variables";
@import "common";

.single-service {
  // @extend .container;
  margin-top: 30px;
  padding: 0 70px;
  &:first-child i,
  &:nth-child(5) i {
    @include icon_design($indigo_color, $indigo_icon_bg);
  }
  &:nth-child(2) i,
  &:last-child i {
    @include icon_design($red_color, $red_icon_bg);
  }
  &:nth-child(3) i,
  &:nth-child(4) i {
    @include icon_design($yellow_color, $yellow_color_bg);
  }
  .service-title {
    @include title(600, 18.5833px, 25px);
  }
  .service-details {
    @extend .details;
    font-size: 13.2738px;
    line-height: 19px;
  }
}
