@import 'Variables';
@import 'common';
.why-enver{
    @extend .container;
    margin-top: 100px;
    div{
        display: flex;
        justify-content: space-between;
        div{
        @include title(bold, 39.8214px, 46px);
    }
    p{
        @extend .details;
    }
    @include sm {
        flex-direction: column;
    }
 }
 img{
     margin-top: 20px;
     width: 100%;
 }
}
    